<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
      <link rel="stylesheet" href="bower_components/angular-responsive-tables/release/angular-responsive-tables.css" />
      <link rel="stylesheet" href="bower_components/ng-material-floating-button/mfb/dist/mfb.css" />
      <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/launchpad.css"/>
    <link rel="stylesheet" href="styles/sales-panel-pay.css"/>

  </head>
  <body ng-app="ngFlavApp" ng-controller="MainCtrl">

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/angular-responsive-tables/release/angular-responsive-tables.js"></script>
      <script src="bower_components/ng-material-floating-button/src/mfb-directive.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <!-- endbower -->
    <!-- endbuild -->


        <!-- build:js({.tmp,client}) app/app.js -->

        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/directives/accordion-nav.js"></script>
          <script src="app/directives/d3-graph-directives.js"></script>
          <script src="app/directives/directive-examples.js"></script>
          <script src="app/directives/get-height-directive.js"></script>
          <script src="app/directives/menu-items.js"></script>
          <script src="app/directives/resize-directive.js"></script>
          <script src="app/directives/scroll-header-directive.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="app/routes/customers/customers.controller.js"></script>
          <script src="app/routes/launchpad/launchpad.controller.js"></script>
          <script src="app/routes/more/more.controller.js"></script>
          <script src="app/routes/notifications/notifications.controller.js"></script>
          <script src="app/routes/pay/pay.controller.js"></script>
          <script src="app/routes/teammates/teammates.controller.js"></script>
          <script src="app/routes/time-sheet/time-sheet.controller.js"></script>
          <script src="app/routes/university/university.controller.js"></script>
          <script src="app/services/payCheckServices.js"></script>
          <script src="app/services/user.service.js"></script>
          <script src="app/tabs/tabs.controller.js"></script>
          <script src="components/flavor/flavor.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->

    <!-- Main Navigation Top Toolbar and SideNav -->




    <section id="mainSectionWindow">

        <div class="theme-toggle" ng-class="{'theme-toggle-open' : themeOpen}" >
          <div class="theme-icon" ng-click="themeOpen = !themeOpen">
            <i class="fa fa-paint-brush"></i>
          </div>

          <div ng-click="click('Dark')" ng-class="{'active': active == true}">
            Dark
          </div>
          <div ng-click="click('Light')" ng-class="{'active': active == true}">
            Light
          </div>

        </div>



      <md-toolbar class="header-toolbar">
        <div class="md-toolbar-tools">

          <img class="sc-logo" src="assets/images/solar-city-logo.svg" alt=""/>

          <span flex=""></span>

          <h2 class="text-charcoal">
            <span>Apps</span>
          </h2>


        </div>
      </md-toolbar>

      <div ng-controller="NavCtrl" layout="column" ng-cloak="" class="h100">

        <md-toolbar class="main-toolbar">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md="">
              <i class="fa fa-bars"></i>
            </md-button>

            <md-button class="md-icon-button" aria-label="Home" ng-click="goToState('launchpad')">
              <i class="fa fa-home"></i>
            </md-button>




            <span flex=""></span>

            <md-button class="md-icon-button" aria-label="Apps">
              <i class="fa fa-th" ng-click="toggleRight()"></i>
            </md-button>

            <div ng-click="toggleRight()" ng-hide="isOpenRight()" class="circle-avatar">

                <img src="assets/images/noriko.png" alt=""/>

            </div>

          </div>
        </md-toolbar>



        <section class="main-window-view" layout="row" flex="" >

          <md-sidenav class="site-sidenav md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

            <div ng-controller="LeftNavCtrl">
              <md-toolbar class="main-toolbar" hide-gt-md="">
                <div class="md-toolbar-tools">

                  <span flex=""></span>

                  <md-button class="md-icon-button" aria-label="Close Left Nav" ng-click="close()" >
                    <i class="fa fa-close"></i>
                  </md-button>
                </div>
              </md-toolbar>

              <md-content class="docs-content" flex role="navigation" ng-controller="NavItemsCtrl">
                <ul class="docs-menu">
                  <li ng-repeat="section in menu.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}">
                    <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                      {{section.name}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link' && !section.hidden"></menu-link>

                    <menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>

                    <ul ng-if="section.children" class="menu-nested-list">
                      <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                        <menu-link section="child" ng-if="child.type === 'link'"></menu-link>

                        <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                      </li>
                    </ul>
                  </li>
                </ul>
              </md-content>
            </div>

          </md-sidenav>




          <!-- BEGIN: MAIN VIEW WINDOW -->
          <md-content class="h100" flex="" layout-padding="">

            <div id="uiViewContainer" class="h100" ui-view>
              <!-- THIS IS THE MAIN VIEW WINDOW ALL PAGES ARE RENDERED IN -->
            </div>

          </md-content>
          <!-- END: MAIN VIEW WINDOW -->


          <!-- BEGIN: RIGHT NAV -->
          <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <div ng-controller="RightNavCtrl">

              <md-toolbar class="main-toolbar">
                <div class="md-toolbar-tools">

                  <span flex=""></span>

                  <md-button class="md-icon-button" aria-label="Close Left Nav" ng-click="close()" >
                    <i class="fa fa-close"></i>
                  </md-button>
                </div>
              </md-toolbar>

              <md-content layout-padding="">
                <md-subheader>


                  <md-switch ng-model="data" aria-label="Theme" ng-change="onChange(data)">
                    Switch 6 message: {{ message }}
                  </md-switch>



                </md-subheader>
              </md-content>
            </div>

          </md-sidenav>
          <!-- END: RIGHT NAV -->

        </section>

      </div>
    </section>










</body>
</html>
