

<form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Commission Details</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <table wt-responsive-table>
        <thead>
        <tr>
          <th>Job ID</th>
          <th>Customer Name</th>
          <th>System Size</th>
          <th>Panels</th>
          <th>Notes</th>
          <th>Adj</th>
          <th>Final</th>
          <th>Grand Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in c.PaymentDetails">
          <td>{{p.JobId}}</td>
          <td>{{p.CustomerName}}</td>
          <td>{{p.SystemSize}}</td>
          <td>{{p.Panels}}</td>
          <td>{{p.Notes}}</td>
          <td>{{p.Adj | currency:"$":2}}</td>
          <td>{{p.Final | currency:"$":2}}</td>
          <td>{{p.GrandTotal | currency:"$":2}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">

    <md-button class="md-raised" ng-click="answer('useful')" style="margin-right:20px;">
      Got it!
    </md-button>
  </md-dialog-actions>
</form>
</md-dialog>

