<div id="profilePage">

  <header md-page-header>

    <div md-header-picture class="blur"></div>

    <md-toolbar id="mainToolbar" scroll>
      <div class="md-toolbar-tools">
        <h2 id="headerTitle" md-header-title flex>
          <div>Commission Potential: $12,960</div>
          <div>Quarterly Bonus: $2,400</div>
        </h2>
        <md-button class="md-tools" aria-label="Edit Contact">
          <i class="fa fa-envelope"></i>
        </md-button>
        <md-button class="md-tools" aria-label="More">
          <i class="fa fa-bars"></i>
        </md-button>
      </div>
    </md-toolbar>

    <div class="main-fab">
      <md-button aria-label="Float Action Button" class="md-fab md-accent" ng-click="pushData()">
        <i class="fa fa-usd"></i>
      </md-button>
    </div>

  </header>

  <md-content>

    <section>
      <md-subheader class="md-primary" sticky-state="next">Current Commission</md-subheader>
      <md-divider></md-divider>
      <md-list layout-padding>
        <md-list-item class="md-3-line" >
          <div class="w100" ng-click="showCommissionDetail($event, currentCommissionDetails)">

            <div class="md-list-item-text">

              <div layout="row">
                <div flex class="align-left">First</div>
                <div flex class="align-right">{{currentCommissionDetails.PaymentTotals.First | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left">Adj</div>
                <div flex class="align-right">{{currentCommissionDetails.PaymentTotals.Adj | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left border-bottom">Final</div>
                <div flex class="align-right border-bottom">{{currentCommissionDetails.PaymentTotals.Final | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left">Pending: {{currentCommissionDetails.PayPeriod | date:'MMM d, yyyy'}}</div>
                <h2 flex class="align-right">{{currentCommissionDetails.PaymentTotals.GrandTotal | number:2}}</h2>
              </div>

            </div>
          </div>

          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </section>


    <section>
      <md-subheader class="md-primary" sticky-state="next">Commissions Received</md-subheader>
      <md-divider></md-divider>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="p in pastPaymentsList | orderBy: 'PayPeriod': true">
          <div class="w100" ng-click="showCommissionDetail($event, p)">

            <div class="md-list-item-text">

              <div layout="row">
                <div flex class="align-left">First</div>
                <div flex class="align-right">{{p.PaymentTotals.First | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left">Adj</div>
                <div flex class="align-right">{{p.PaymentTotals.Adj | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left border-bottom">Final</div>
                <div flex class="align-right border-bottom">{{p.PaymentTotals.Final | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left">Paid: {{p.PayPeriod | date:'MMM d, yyyy'}}</div>
                <h2 flex class="align-right">{{p.PaymentTotals.GrandTotal | number:2}}</h2>
              </div>

            </div>
          </div>

          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>



<!-- Modal -->
<script type="text/ng-template" id="dialog1.tmpl.html">

  <md-dialog id="paymentDetailsModal" aria-label="Modal Dialog" ng-cloak>

    <form>

      <md-toolbar class="md-tall md-3-line">

          <div layout="row">
            <div flex class="align-left">First</div>
            <div flex class="align-right">{{commissionDetail.PaymentTotals.First | number:2}}</div>
          </div>

          <div layout="row">
            <div flex class="align-left">Adj</div>
            <div flex class="align-right">{{commissionDetail.PaymentTotals.Adj | number:2}}</div>
          </div>

          <div layout="row">
            <div flex class="align-left border-bottom-white">Final</div>
            <div flex class="align-right border-bottom-white">{{commissionDetail.PaymentTotals.Final | number:2}}</div>
          </div>

          <div layout="row">
            <div flex class="align-left">Paid: {{commissionDetail.PayPeriod | date:'MMM d, yyyy'}}</div>
            <h2 flex class="align-right">{{commissionDetail.PaymentTotals.GrandTotal | number:2}}</h2>
          </div>

      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <table wt-responsive-table>
            <thead>
            <tr>
              <th>Job ID</th>
              <th>Customer Name</th>
              <th>kW</th>
              <th>Panels</th>
              <th>Notes</th>
              <th>Adj</th>
              <th>Final</th>
              <th>Grand Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in commissionDetail.PaymentDetails">
              <td class="no-wrap">{{p.JobId}}</td>
              <td>{{p.CustomerName}}</td>
              <td>{{p.SystemSize}}</td>
              <td>{{p.Panels}}</td>
              <td>{{p.Notes}}</td>
              <td class="align-right">{{p.Adj | currency:"$":2}}</td>
              <td class="align-right">{{p.Final | currency:"$":2}}</td>
              <td class="align-right">{{p.GrandTotal | currency:"$":2}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-dialog-content>

      <md-dialog-actions class="dialog-footer" layout="row">
        <md-button class="md-fab md-mini md-accent" ng-click="close()" style="margin-right:20px;" aria-label="Close">
          <i class="fa fa-close"></i>
        </md-button>
      </md-dialog-actions>

    </form>

  </md-dialog>

</script>
