<script type="text/ng-template" id="dialog1.tmpl.html">

  <md-dialog id="paymentDetailsModal" aria-label="Modal Dialog" ng-cloak>

    <form>

      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Commission Details</h2>
          <span flex></span>
          <md-button aria-label="Cancel" class="md-icon-button" ng-click="close()">
            <i class="fa fa-close"></i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <table wt-responsive-table>
            <thead>
            <tr>
              <th>Job ID</th>
              <th>Customer Name</th>
              <th>System Size</th>
              <th>Panels</th>
              <th>Notes</th>
              <th>Adj</th>
              <th>Final</th>
              <th>Grand Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in commissionDetail.PaymentDetails">
              <td class="no-wrap">{{p.JobId}}</td>
              <td class="no-wrap">{{p.CustomerName}}</td>
              <td>{{p.SystemSize}}</td>
              <td>{{p.Panels}}</td>
              <td>{{p.Notes}}</td>
              <td class="align-right">{{p.Adj | currency:"$":2}}</td>
              <td class="align-right">{{p.Final | currency:"$":2}}</td>
              <td class="align-right">{{p.GrandTotal | currency:"$":2}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="close()" style="margin-right:20px;">
          Got it!
        </md-button>
      </md-dialog-actions>

    </form>

  </md-dialog>

</script>
