


<div flex="" ng-cloak="" class="grid-list-dynamic-tiles md-padding">
  <md-grid-list
    md-cols-xs="2" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="5"
    md-row-height-xs="1:1"
    md-row-height-sm="1:1"
    md-row-height-gt-md="1:1"
    md-row-height="1:1"
    md-gutter-xs="6px" md-gutter-sm="6px" md-gutter-gt-xs="6px">

    <md-grid-tile ng-repeat="t in tiles" md-rowspan="{{t.span.row}}" md-colspan="{{t.span.col}}" md-colspan-sm="1" ng-class="t.background" ng-click="goToState(t.state)">

      <div class="lp-icons" ng-hide="t.img">
        <i class="{{t.icon}}"></i>
        <h3>{{t.title}}</h3>
      </div>

      <div class="img-wrapper" ng-show="t.img">
        <img class="img-tile object-fit_cover" ng-src="{{t.img}}" alt="{{t.title}}"/>
      </div>

      <md-grid-tile-footer ng-show="t.img">
        <h3>{{t.title}}</h3>
      </md-grid-tile-footer>

    </md-grid-tile>


  </md-grid-list>
</div>








