


<div id="profilePage">












  <md-content class="transparent">


    <md-subheader class="md-primary" sticky-state="next">Current Commission</md-subheader>
    <md-divider></md-divider>
    <md-list>
      <md-card>
        <md-list-item class="md-3-line">
          <div class="w100" ng-click="showCommissionDetail($event, currentCommissionDetails)">

            <div class="md-list-item-text">

              <div layout="row">
                <div flex class="align-left">First</div>
                <div flex class="align-right">{{currentCommissionDetails.PaymentTotals.First | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left">Adj</div>
                <div flex class="align-right">{{currentCommissionDetails.PaymentTotals.Adj | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left border-bottom">Final</div>
                <div flex class="align-right border-bottom">{{currentCommissionDetails.PaymentTotals.Final | number:2}}</div>
              </div>

              <div layout="row">
                <div flex class="align-left">Pending: {{currentCommissionDetails.PayPeriod | date:'MMM d, yyyy'}}</div>
                <h2 flex class="align-right">{{currentCommissionDetails.PaymentTotals.GrandTotal | number:2}}</h2>
              </div>

            </div>
          </div>
        </md-list-item>
      </md-card>
    </md-list>

    <md-subheader class="md-primary" sticky-state="next">Commissions Received</md-subheader>
    <md-divider></md-divider>
    <md-list>
      <md-card ng-repeat="p in pastPaymentsList | orderBy: 'PayPeriod': true">
        <md-list-item class="md-3-line commissions-paid" style="background-image: url('../assets/images/paid-stamp.png'); background-repeat: no-repeat; background-position: 100px 5px;">
          <div class="w100" ng-click="showCommissionDetail($event, p)">

            <div class="md-list-item-text">

              <div layout="row">
                <div flex class="align-left">{{p.PayPeriod | date:'MMM d, yyyy'}}</div>
                <h2 flex class="align-right">{{p.PaymentTotals.GrandTotal | number:2}}</h2>
              </div>

            </div>
          </div>
        </md-list-item>
      </md-card>

    </md-list>






  </md-content>





</div>

<!-- Potential Commission & Bonus Details Modal -->
<script type="text/ng-template" id="dialog2.tmpl.html">

  <md-dialog id="potentialCommissionDetailsModal" aria-label="Modal Dialog" ng-cloak>

    <form>

      <md-toolbar class="md-tall md-3-line">

        <div layout="row">
          <div flex class="align-left">Potential Commission</div>
          <div flex class="align-right">{{potentialCommissionDetail.CommissionPotentialTotals.GrandTotal | number:2}}</div>
        </div>

        <div layout="row">
          <div flex class="align-left">Current Quarterly Bonus</div>
          <div flex class="align-right">{{potentialCommissionDetail.CurrentQuarterlyBonus.GrandTotal | number:2}}</div>
        </div>

      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <table wt-responsive-table>
            <thead>
            <tr>
              <th>Job ID</th>
              <th>Customer Name</th>
              <th>kW</th>
              <th>Panels</th>
              <th>Notes</th>
              <th>Upon Install</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in potentialCommissionDetail.SoldButNotInstalledDetails">
              <td class="no-wrap">{{p.JobId}}</td>
              <td>{{p.CustomerName}}</td>
              <td>{{p.SystemSize}}</td>
              <td>{{p.Panels}}</td>
              <td>{{p.Notes}}</td>
              <td class="align-right">{{p.GrandTotal | currency:"$":2}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-dialog-content>

      <md-dialog-actions class="dialog-footer" layout="row">
        <md-button class="md-fab md-mini md-accent" ng-click="close()" aria-label="Close">
          <i class="fa fa-close"></i>
        </md-button>
      </md-dialog-actions>

    </form>

  </md-dialog>

</script>

<!-- Past & Current Commission Details Modal -->
<script type="text/ng-template" id="dialog1.tmpl.html">

  <md-dialog id="paymentDetailsModal" aria-label="Modal Dialog" ng-cloak>

    <form>

      <md-toolbar class="md-tall md-3-line">

        <div layout="row">
          <div flex class="align-left">First</div>
          <div flex class="align-right">{{commissionDetail.PaymentTotals.First | number:2}}</div>
        </div>

        <div layout="row">
          <div flex class="align-left">Adj</div>
          <div flex class="align-right">{{commissionDetail.PaymentTotals.Adj | number:2}}</div>
        </div>

        <div layout="row">
          <div flex class="align-left border-bottom-white">Final</div>
          <div flex class="align-right border-bottom-white">{{commissionDetail.PaymentTotals.Final | number:2}}</div>
        </div>

        <div layout="row">
          <div flex class="align-left">{{commissionDetail.PayPeriod | date:'MMM d, yyyy'}}</div>
          <h2 flex class="align-right">{{commissionDetail.PaymentTotals.GrandTotal | number:2}}</h2>
        </div>

      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <table wt-responsive-table>
            <thead>
            <tr>
              <th>Job ID</th>
              <th>Customer Name</th>
              <th>kW</th>
              <th>Panels</th>
              <th>Notes</th>
              <th>Adj</th>
              <th>Final</th>
              <th>Grand Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in commissionDetail.PaymentDetails">
              <td class="no-wrap">{{p.JobId}}</td>
              <td>{{p.CustomerName}}</td>
              <td>{{p.SystemSize}}</td>
              <td>{{p.Panels}}</td>
              <td>{{p.Notes}}</td>
              <td class="align-right">{{p.Adj | currency:"$":2}}</td>
              <td class="align-right">{{p.Final | currency:"$":2}}</td>
              <td class="align-right">{{p.GrandTotal | currency:"$":2}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </md-dialog-content>

      <md-dialog-actions class="dialog-footer" layout="row">
        <md-button class="md-fab md-mini md-accent" ng-click="close()" aria-label="Close">
          <i class="fa fa-close"></i>
        </md-button>
      </md-dialog-actions>

    </form>

  </md-dialog>

</script>
